header {
  background-color: $secondary-color;
  height: 53px;

  .flex {
    display: flex;

    .logo {
      @include flex-center;
      height: 100%;
      gap: 9px;

      a {
        text-decoration: none;
        color: $white-color;

        h1 {
          @include bitter-24;
          cursor: pointer;
        }
      }

      .logo-div {
        width: 63px;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: $header-light-color;
        cursor: pointer;

        img {
          padding: 15px;
        }
      }
    }

    .sub-nav {
      display: flex;
      flex-grow: 1;
      justify-content: end;
      align-items: center;
      gap: 17px;
      height: 100%;

      ul {
        display: flex;
        gap: 9px;
        height: 100%;
        font-family: $text-font;

        li {
          @include flex-center;
          list-style: none;
          padding: 0 10px;
          height: 100%;
          font-size: 14px;
          line-height: 27px;
          cursor: pointer;

          &:hover {
            background-color: $header-light-color;
          }
        }
      }

      .search {
        width: 63px;
        height: 100%;
        @include flex-center;
        background-color: $header-light-color;
        cursor: pointer;
      }
    }
  }
}
