.first-slider {
    width: 100%;
    height: 461px;
    @include flex-column;
    justify-content: end;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 240px;
        padding-left: 30px;
        padding-bottom: 28px;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.89), black);
        @include flex-column;
        align-items: start;
        justify-content: end;
        gap: 10px;
        position: absolute;
        width: 100%;
        bottom: 0;

        .comments {
            @include flex-center;
            @include varela-12;
            gap: 20px;

            .comment {
                @include flex-center;
                gap: 6px;

                img {
                    width: 16px;
                    height: 14px;
                    object-fit: cover;
                }
            }
        }

        h1 {
            max-width: 615px;
            @include bitter-34-bold;
        }

        a {
            padding: 8px 22px;
            background-color: transparent;
            border: 1px solid $white-color;
            @include varela-14;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.first-slider-wrapper div.slick-arrow.slick-next::before {
    content: url("./assets/rightArrow.svg");
    position: absolute;
    right: 28px;
}

.first-slider-wrapper div.slick-arrow.slick-next {
    right: 0px;
    @include arrow-slider;
}

.first-slider-wrapper div.slick-arrow.slick-prev {
    @include arrow-slider;
    left: 0;
    z-index: 1;
}

.first-slider-wrapper div.slick-arrow.slick-prev::before {
    content: url("./assets/leftArrow.svg");
    position: absolute;
    left: 28px;
}
