.comments-container {
    background-color: $white-color;
    padding: 15px 30px 30px 30px;

    h1 {
        @include bitter-24-bold;
        color: $title-color;
        margin-bottom: 42px;
    }

    .comments-wrapper {
        @include flex-column;
        width: 100%;
        gap: 48px;
    }

    .add-comment {
        margin: 34px 0;
    }

    p {
        font-family: $text-font;
        font-weight: 400;
        font-size: 13px;
        color: #444444;
        line-height: 20px;
    }
}
