.comment {
    display: flex;
    flex-direction: row;
    gap: 17px;

    .image {
        img {
            width: 57px;
            height: 58px;
            object-fit: cover;
        }
    }

    .content {
        @include flex-column;
        gap: 4px;
        flex-grow: 1;

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .name-date {
                display: flex;
                flex-direction: row;
                align-items: end;
                gap: 10px;

                h2 {
                    color: $primary-color;
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 400;
                }

                p {
                    font-family: $text-font;
                    font-weight: 400;
                    font-size: 11px;
                    color: $paragraf-color-category;
                }
            }

            button {
                border: none;
                background-color: transparent;
                @include varela-14;
                color: $primary-color;
                cursor: pointer;
            }
        }

        p {
            font-family: $text-font;
            font-weight: 400;
            font-size: 13px;
            color: $paragraf-color-author;
            line-height: 20px;
        }
    }
}

.replay-wrapper {
    margin-left: 58px;
    @include flex-column;
    gap: 10px;
    margin-top: 10px;
}
