@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

$title-font:'Bitter', serif;
$text-font:'Varela Round', sans-serif;
$secondary-color: #252525;
$primary-color: #4D4382;
$backgorind-color: #EEEEEE;
$colors: #299EC3, #EE6151, #84C14F, #5DCFF3, #FCC44D, #A99765;
$banner-color: #D7D7D7;